.header-container{
  display: flex;
  justify-content: right;
  gap: 1rem;
  align-items: flex-end;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;


  p{

    padding: 10px 15px;
    border-radius: 10px;



    &:hover {
      background-color: darkkhaki;
      color: white;
      cursor: pointer;
    }
  }
}


.active {
  color: #666;
  text-decoration: underline;
}
